img {
    max-width: 100%;
    height: auto;
}

a {
    color: inherit;
    display: inline-block;
    text-decoration: none;
}

p {
    letter-spacing: 0.02em;
}

ul,li {
    list-style: none;
    padding: 0;
}