img {
    max-width: 100%;
    height: auto;
}

a {
    color: inherit;
    display: inline-block;
    text-decoration: none;
}

p {
    letter-spacing: 0.02em;
}

ol, ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* 畫面縮小時隱藏多餘文字 */
.text-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}