<main class="mt-10 mt-lg-11">
    <div class="container">
        <div class="row">
            <div class="col pt-6 pt-lg-11">
                <nav aria-label="breadcrumb mb-6">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#" class="text-neutral-400">所有課程</a></li>
                        <li class="breadcrumb-item"><a href="#" class="text-neutral-400">程式</a></li>
                        <li class="breadcrumb-item active" aria-current="page" class="text-neutral-400">網頁前端</li>
                    </ol>
                </nav>
                <div class="intro-bg rounded-3"></div>
            </div>
        </div>
    </div>
</main>