<main class="mt-10 mt-lg-11">
    <div class="container">
        <div class="row">
            <div class="col pt-6 pt-lg-11">
                <nav aria-label="breadcrumb mb-6">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#" class="text-neutral-400">所有課程</a></li>
                        <li class="breadcrumb-item"><a href="#" class="text-neutral-400">程式</a></li>
                        <li class="breadcrumb-item active" aria-current="page" class="text-neutral-400">網頁前端</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-7">
                <div class="intro-bg rounded-3 mb-6"></div>
            </div>
            <div class="col-12 col-lg-5">
                <div class="d-flex gap-2 mb-3">
                    <a href="#"><div class="intro-badge">程式開發</div></a>
                    <a href="#"><div class="intro-badge">小白友善</div></a>
                    <a href="#"><div class="intro-badge">網站設計</div></a>
                </div>
                <h3 class="fs-3 fw-bold mb-2">使用 HTML、CSS 開發一個網站</h3>
                <p class="fs-8 text-neutral-400 mb-2">為你打造就算沒有程式基礎，也能夠逐步學習獲得網頁排版技巧的紮實觀念，六角學院的講師將協助你成就更好的自己！</p>
                <div class="d-flex">
                    <h8 class="fs-8">16,390 人</h8>
                    <p>已註冊</p>
                </div>
            </div>
        </div>
    </div>
</main>