<!-- IntroBanner -->
<section class="mt-10 mt-lg-11">
    <!-- 背景漸層色 -->
    <div class="bg-gradient">
    <!-- banner-breadcrumb & banner-body -->
    <div class="container">
        <div class="row">
            <div class="col pt-6 pt-lg-11 mb-6 mb-lg-9">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#" class="text-neutral-400">所有課程</a></li>
                        <li class="breadcrumb-item"><a href="#" class="text-neutral-400">程式</a></li>
                        <li class="breadcrumb-item active" aria-current="page" class="text-neutral-400">網頁前端</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!-- banner-body -->
        <div class="row mb-lg-11">
            <!-- 照片 -->
            <div class="col-12 col-lg-7 h-100">
                <div class="intro-bg rounded-3 mb-6 mb-lg-0"></div>
            </div>
                <!-- tags & 內容 -->
                <div class="col-12 col-lg-5 d-flex flex-column">
                    <div class="d-flex gap-2 mb-3 mb-lg-4">
                        <a href="#"><div class="intro-badge">程式開發</div></a>
                        <a href="#"><div class="intro-badge">小白友善</div></a>
                        <a href="#"><div class="intro-badge">網站設計</div></a>
                    </div>
                    <h3 class="fs-3 fs-lg-1 fw-bold mb-2 mb-lg-4">使用 HTML、CSS 開發一個網站</h3>
                    <p class="fs-8 fs-lg-7 text-neutral-400 mb-2 mb-lg-4">為你打造就算沒有程式基礎，也能夠逐步學習獲得網頁排版技巧的紮實觀念，六角學院的講師將協助你成就更好的自己！</p>
                    <div class="d-flex align-items-center mb-6 mb-lg-0">
                        <h6 class="fs-8 fs-lg-7 fw-bold me-1">16,390 人</h6>
                        <p class="fs-8 fs-lg-7">已註冊</p>
                    </div>
                    <div class="d-flex align-items-center gap-2 mt-lg-auto mb-8 mb-lg-0">
                        <button class="btn btn-sm btn-outline-primary rounded-2 d-flex justify-content-center align-items-center gap-2 rwd-btn bg-white" type="button">
                            <i class="bi bi-bookmark-fill fs-5"></i>
                            <p>收藏課程</p>
                        </button>
                        <button class="btn btn-sm btn-outline-primary rounded-2 d-flex justify-content-center align-items-center gap-2 rwd-btn border-white bg-white" type="button">
                            <i class="bi bi-share-fill fs-5 text-neutral-400"></i>
                            <p class="text-neutral-400">分享課程</p>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- banner-foot -->
    <div class="container">
        <div class="row mt-lg-3">
            <div class="col">
                <div class="card p-4 p-lg-6 mt-4 mb-6 mb-lg-10 d-flex flex-column flex-lg-row justify-content-lg-between rounded-3">
                    <!-- 實際內容 -->
                    <div class="p-6 py-lg-4 intro-border w-100">
                        <div class="d-flex align-items-center mb-2">
                            <img src="../assets/images/icons/ic_ hexschool.svg" alt="hexschool">
                            <p class="fs-7 fs-lg-6 fw-bold ms-1">六角學院</p>
                        </div>
                        <h6 class="fs-8 fs-lg-7 text-neutral-400">高雄最大線上程式開發學習單位</h6>
                    </div>
                    <div class="p-6 py-lg-4 intro-border w-100">
                        <div class="d-flex align-items-center mb-2">
                            <img src="../assets/images/icons/ic_star.svg" alt="hexschool">
                            <p class="fs-7 fs-lg-6 fw-bold ms-1">4.9</p>
                        </div>
                        <h6 class="fs-8 fs-lg-7 text-neutral-400">13,208 條評論</h6>
                    </div>
                    <div class="p-6 py-lg-4 intro-border w-100">
                        <div class="d-flex align-items-center mb-2">
                            <!-- <img src="../assets/images/icons/ic_ hexschool.svg" alt="hexschool" > -->
                            <p class="fs-7 fs-lg-6 fw-bold">3 時 25 分</p>
                        </div>
                        <h6 class="fs-8 fs-lg-7 text-neutral-400">16 個單元，4 個課後學習作業</h6>
                    </div>
                    <div class="p-6 py-lg-2 w-100">
                        <div class="d-flex align-items-center mb-2">
                            <!-- <img src="../assets/images/icons/ic_ hexschool.svg" alt="hexschool"> -->
                            <p class="fs-8 fw-bold text-primary bg-primary-50 py-2 px-3 rounded-pill">前端開發類別排名第一名 🔥</p>
                        </div>
                        <h6 class="fs-8 fs-lg-7 text-neutral-400">16,390 人已註冊</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Nav & Tabs -->
<div class="border-bottom mb-8 mb-lg-11 mt-lg-3">
    <div class="container">
        <div class="row">
            <div class="col">
                <ul class="d-flex gap-6">
                    <li>
                        <a class="nav-link py-4 nav-active" aria-current="page" href="#course-intro">課程介紹</a>
                    </li>
                    <li>
                        <a class="nav-link py-4" href="#course-unit">預計單元</a>
                    </li>
                    <li>
                        <a class="nav-link py-4" href="#course-lecturer">關於講師</a>
                    </li>
                    <li>
                        <a class="nav-link py-4" href="#course-qa">購課前問答</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- IntroMain -->

<!-- 課程介紹 -->
<section id="course-intro" class="container mb-9">
    <div class="d-flex mb-4 mb-lg-6 align-items-center">
        <img src="../assets/images/deco/flower-5.svg" alt="flower" class="flower-icon">
        <p class="fs-6 fs-lg-5 fw-bold ms-2">課程介紹</p>
    </div>
    <div class="row d-flex"> 
        <div class="col-lg-8 col-12 bg-white radius-rwd me-lg-6">
            <div class="py-4 py-lg-6 px-lg-7">
                    <picture>
                        <source media="(min-width: 768px)" srcset="../assets/images/course-detail-1.png">
                        <img src="../assets/images/course-sm-detail-1.svg" alt="step1" class="w-100">
                    </picture>
                    <div class="my-6 my-lg-7">
                        <h3 class="fs-7 fw-bold border-left ps-3 pt-1 pb-3 pb-lg-4">入門前端網頁設計從這裡開始，跨出你的第一步！</h3>
                        <p class="text-neutral-400">如果你也想要踏入前端的世界，歡迎你來到 Hahow 與六角學院合作的「前端網頁設計」課程組合，透過一系列前端語言的基礎課程，循序漸進的帶你進入網頁開發的世界。<br/>而這裡——就是你的第一步！</p>
                    </div>
                    <div class="mask-viewmore">
                        <picture>
                            <source media="(min-width: 768px)" srcset="../assets/images/course-detail-2.png">
                            <img src="../assets/images/course-sm-detail-2.svg" alt="html&css" class="w-100">
                        </picture>
                        <div class="mt-6">
                            <h3 class="fs-7 fw-bold border-left ps-3 pt-1 pb-3 pb-lg-4">網頁前端的入門磚，讓我們先從學習 HTML & CSS 開始！</h3>
                            <p class="text-neutral-400">如果你還沒有程式基礎背景，HTML、CSS 便是作為網頁開發的起始點。從 HTML、 CSS 入門學習會是個好主意，這裡的學習曲線不會那麼的陡峭，網頁開發的基礎知識正式從這裡開始！</p>
                        </div>
                    </div>
                    <button class="btn fs-7 fw-bold text-white bg-primary rounded-2 py-4 px-12 d-block m-auto" type="button">展開更多</button>
            </div>
        </div>    
    </div>        
</section>

<!-- 預計單元 -->
<section id="course-unit" class="container mb-9">
    <div class="row">
        <div class="col-lg-8 col-12 mb-4 mb-lg-6">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <div class="d-flex mb-2 align-items-center">
                        <img src="../assets/images/deco/flower-5.svg" alt="flower" class="flower-icon">
                        <p class="fs-6 fs-lg-5 fw-bold ms-2">預計單元</p>
                    </div>
                    <p class="fs-8 fs-lg-7 text-neutral-400">18 章 142 單元｜總時長 928 分鐘</p>
                </div>
                <a href="#course-unit" class="fw-bold text-primary" id="unFoldAll">全部展開</a>
            </div>
        </div>
        <div class="col-lg-8 col-12">
            <div class="accordion accordion-flush gy-3" id="accordionPanelsStayOpenExample">
                <!-- unit1 -->
                <div class="accordion-item mb-4 rounded-2">
                    <h2 class="accordion-header" id="panelsStayOpen-headingOne"> 
                    <button class="accordion-button rounded" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                      <div class="w-100 d-flex justify-content-between align-items-center">
                        <div class="title-left d-flex align-items-center"> 
                          <i class="bi bi-1-square-fill accordion-icon"></i>
                          <p class="ms-2 fw-bold">課前說明</p>
                        </div>
                        <div class="d-flex align-items-center me-3 d-none d-lg-block">
                          <p class="fs-8 text-neutral-400">4個單元<span class="mx-2 circle"></span>少於1分鐘</p>
                        </div>
                      </div>
                    </button> 
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                    <div class="accordion-body px-0">
                        <ul class="list-unstyled">
                        <li> 
                          <a href="#" class="d-flex justify-content-between align-items-center py-4 px-6">
                            <div class="course-name d-flex align-items-center">
                              <i class="bi bi-camera-video accordion-item-icon"></i>
                              <p class="ms-3">課程說明</p>
                            </div>
                            <div class="time d-flex align-items-center">
                              <p class="try-it bg-primary text-white fs-9 py-1 px-2">試看單元</p>
                              <p class="ms-4 fs-8">00:10</p>
                            </div>
                          </a>
                        </li>
                        <li> 
                          <a href="#" class="d-flex justify-content-between py-4 px-6">
                            <div class="course-name d-flex align-items-center">
                              <i class="bi bi-camera-video accordion-item-icon"></i>
                              <p class="ms-3">課程最終任務說明</p>
                            </div>
                            <div class="time d-flex align-items-center">
                              <p class="ms-4 fs-8">00:10</p>
                            </div>
                          </a> 
                        </li>
                        <li> 
                            <a href="#" class="d-flex justify-content-between py-4 px-6">
                              <div class="course-name d-flex align-items-center">
                                <i class="bi bi-camera-video accordion-item-icon"></i>
                                <p class="ms-3">課程說明</p>
                              </div>
                              <div class="time d-flex align-items-center">
                                <p class="ms-4 fs-8">00:10</p>
                              </div>
                            </a> 
                          </li>
                          <li> 
                            <a href="#" class="d-flex justify-content-between py-4 px-6">
                              <div class="course-name d-flex">
                                <i class="bi bi-camera-video accordion-item-icon"></i>
                                <p class="ms-3">Hahow 學生如何在六角平台檢視問題</p>
                              </div>
                              <div class="time d-flex align-items-center">
                                <p class="ms-4 fs-8">00:10</p>
                              </div>
                            </a> 
                          </li>
                        <li> 
                          <a href="#" class="d-flex justify-content-between py-4 px-6">
                            <div class="course-name d-flex align-items-center">
                              <i class="bi bi-book accordion-item-icon"></i>
                              <p class="ms-3">課業作業</p>
                            </div>
                            <div class="time d-flex align-items-center">
                              <p class="ms-4 fs-8">00:10</p>
                            </div>
                          </a> 
                        </li>
                        </ul>
                    </div>
                </div>
                </div>
                <!-- unit2 -->
                <div class="accordion-item mb-4 rounded-2">
                    <h2 class="accordion-header" id="panelsStayOpen-headingTwo"> 
                    <button class="accordion-button collapsed rounded" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                      <div class="w-100 d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center"> 
                          <i class="bi bi-2-square-fill accordion-icon"></i>
                          <p class="ms-2 fw-bold">2020 VS Code 網頁編輯器、HTML 基礎教學</p>
                        </div>
                        <div class="d-flex align-items-center me-3 d-none d-lg-block">
                          <p class="fs-8 text-neutral-400">4個單元<span class="mx-2 circle"></span>少於1分鐘</p>
                        </div>
                      </div>
                    </button> 
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                    <div class="accordion-body px-0">
                        <ul class="list-unstyled">
                        <li> 
                          <a href="#" class="d-flex justify-content-between align-items-center py-4 px-6">
                            <div class="course-name d-flex align-items-center">
                              <i class="bi bi-camera-video accordion-item-icon"></i>
                              <p class="ms-3">課程說明</p>
                            </div>
                            <div class="time d-flex align-items-center">
                              <p class="try-it bg-primary text-white fs-9 py-1 px-2">試看單元</p>
                              <p class="ms-4 fs-8">00:10</p>
                            </div>
                          </a>
                        </li>
                        <li> 
                          <a href="#" class="d-flex justify-content-between py-4 px-6">
                            <div class="course-name d-flex align-items-center">
                              <i class="bi bi-camera-video accordion-item-icon"></i>
                              <p class="ms-3">課程最終任務說明</p>
                            </div>
                            <div class="time d-flex align-items-center">
                              <p class="ms-4 fs-8">00:10</p>
                            </div>
                          </a> 
                        </li>
                        <li> 
                            <a href="#" class="d-flex justify-content-between py-4 px-6">
                              <div class="course-name d-flex align-items-center">
                                <i class="bi bi-camera-video accordion-item-icon"></i>
                                <p class="ms-3">課程說明</p>
                              </div>
                              <div class="time d-flex align-items-center">
                                <p class="ms-4 fs-8">00:10</p>
                              </div>
                            </a> 
                          </li>
                          <li> 
                            <a href="#" class="d-flex justify-content-between py-4 px-6">
                              <div class="course-name d-flex">
                                <i class="bi bi-camera-video accordion-item-icon"></i>
                                <p class="ms-3">Hahow 學生如何在六角平台檢視問題</p>
                              </div>
                              <div class="time d-flex align-items-center">
                                <p class="ms-4 fs-8">00:10</p>
                              </div>
                            </a> 
                          </li>
                        <li> 
                          <a href="#" class="d-flex justify-content-between py-4 px-6">
                            <div class="course-name d-flex align-items-center">
                              <i class="bi bi-book accordion-item-icon"></i>
                              <p class="ms-3">課業作業</p>
                            </div>
                            <div class="time d-flex align-items-center">
                              <p class="ms-4 fs-8">00:10</p>
                            </div>
                          </a> 
                        </li>
                        </ul>
                    </div>
                </div>
                </div>
                <!-- unit3 -->
                <div class="accordion-item mb-4 rounded-2">
                    <h2 class="accordion-header" id="panelsStayOpen-headingThree"> 
                    <button class="accordion-button collapsed rounded" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                      <div class="w-100 d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center"> 
                          <i class="bi bi-3-square-fill accordion-icon"></i>
                          <p class="ms-2 fw-bold">2020 CSS 常用語法</p>
                        </div>
                        <div class="d-flex align-items-center me-3 d-none d-lg-block">
                          <p class="fs-8 text-neutral-400">4個單元<span class="mx-2 circle"></span>少於1分鐘</p>
                        </div>
                      </div>
                    </button> 
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse " aria-labelledby="panelsStayOpen-headingThree">
                    <div class="accordion-body px-0">
                        <ul class="list-unstyled">
                        <li> 
                          <a href="#" class="d-flex justify-content-between align-items-center py-4 px-6">
                            <div class="course-name d-flex align-items-center">
                              <i class="bi bi-camera-video accordion-item-icon"></i>
                              <p class="ms-3">課程說明</p>
                            </div>
                            <div class="time d-flex align-items-center">
                              <p class="try-it bg-primary text-white fs-9 py-1 px-2">試看單元</p>
                              <p class="ms-4 fs-8">00:10</p>
                            </div>
                          </a>
                        </li>
                        <li> 
                          <a href="#" class="d-flex justify-content-between py-4 px-6">
                            <div class="course-name d-flex align-items-center">
                              <i class="bi bi-camera-video accordion-item-icon"></i>
                              <p class="ms-3">課程最終任務說明</p>
                            </div>
                            <div class="time d-flex align-items-center">
                              <p class="ms-4 fs-8">00:10</p>
                            </div>
                          </a> 
                        </li>
                        <li> 
                            <a href="#" class="d-flex justify-content-between py-4 px-6">
                              <div class="course-name d-flex align-items-center">
                                <i class="bi bi-camera-video accordion-item-icon"></i>
                                <p class="ms-3">課程說明</p>
                              </div>
                              <div class="time d-flex align-items-center">
                                <p class="ms-4 fs-8">00:10</p>
                              </div>
                            </a> 
                          </li>
                          <li> 
                            <a href="#" class="d-flex justify-content-between py-4 px-6">
                              <div class="course-name d-flex">
                                <i class="bi bi-camera-video accordion-item-icon"></i>
                                <p class="ms-3">Hahow 學生如何在六角平台檢視問題</p>
                              </div>
                              <div class="time d-flex align-items-center">
                                <p class="ms-4 fs-8">00:10</p>
                              </div>
                            </a> 
                          </li>
                        <li> 
                          <a href="#" class="d-flex justify-content-between py-4 px-6">
                            <div class="course-name d-flex align-items-center">
                              <i class="bi bi-book accordion-item-icon"></i>
                              <p class="ms-3">課業作業</p>
                            </div>
                            <div class="time d-flex align-items-center">
                              <p class="ms-4 fs-8">00:10</p>
                            </div>
                          </a> 
                        </li>
                        </ul>
                    </div>
                </div>
                </div>
                <!-- unit4 -->
                <div class="accordion-item mb-4 rounded-2">
                    <h2 class="accordion-header" id="panelsStayOpen-headingFour"> 
                    <button class="accordion-button collapsed rounded" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                      <div class="w-100 d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center"> 
                          <i class="bi bi-4-square-fill accordion-icon"></i>
                          <p class="ms-2 fw-bold">2020 使用 CSS 變更 HTML 標籤特性</p>
                        </div>
                        <div class="d-flex align-items-center me-3 d-none d-lg-block">
                          <p class="fs-8 text-neutral-400">4個單元<span class="mx-2 circle"></span>少於1分鐘</p>
                        </div>
                      </div>
                    </button> 
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                    <div class="accordion-body px-0">
                        <ul class="list-unstyled">
                        <li> 
                          <a href="#" class="d-flex justify-content-between align-items-center py-4 px-6">
                            <div class="course-name d-flex align-items-center">
                              <i class="bi bi-camera-video accordion-item-icon"></i>
                              <p class="ms-3">課程說明</p>
                            </div>
                            <div class="time d-flex align-items-center">
                              <p class="try-it bg-primary text-white fs-9 py-1 px-2">試看單元</p>
                              <p class="ms-4 fs-8">00:10</p>
                            </div>
                          </a>
                        </li>
                        <li> 
                          <a href="#" class="d-flex justify-content-between py-4 px-6">
                            <div class="course-name d-flex align-items-center">
                              <i class="bi bi-camera-video accordion-item-icon"></i>
                              <p class="ms-3">課程最終任務說明</p>
                            </div>
                            <div class="time d-flex align-items-center">
                              <p class="ms-4 fs-8">00:10</p>
                            </div>
                          </a> 
                        </li>
                        <li> 
                            <a href="#" class="d-flex justify-content-between py-4 px-6">
                              <div class="course-name d-flex align-items-center">
                                <i class="bi bi-camera-video accordion-item-icon"></i>
                                <p class="ms-3">課程說明</p>
                              </div>
                              <div class="time d-flex align-items-center">
                                <p class="ms-4 fs-8">00:10</p>
                              </div>
                            </a> 
                          </li>
                          <li> 
                            <a href="#" class="d-flex justify-content-between py-4 px-6">
                              <div class="course-name d-flex">
                                <i class="bi bi-camera-video accordion-item-icon"></i>
                                <p class="ms-3">Hahow 學生如何在六角平台檢視問題</p>
                              </div>
                              <div class="time d-flex align-items-center">
                                <p class="ms-4 fs-8">00:10</p>
                              </div>
                            </a> 
                          </li>
                        <li> 
                          <a href="#" class="d-flex justify-content-between py-4 px-6">
                            <div class="course-name d-flex align-items-center">
                              <i class="bi bi-book accordion-item-icon"></i>
                              <p class="ms-3">課業作業</p>
                            </div>
                            <div class="time d-flex align-items-center">
                              <p class="ms-4 fs-8">00:10</p>
                            </div>
                          </a> 
                        </li>
                        </ul>
                    </div>
                </div>
                </div>
                <!-- unit5 -->
                <div class="accordion-item mb-4 rounded-2">
                    <h2 class="accordion-header" id="panelsStayOpen-headingFive"> 
                    <button class="accordion-button collapsed rounded" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
                      <div class="w-100 d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center"> 
                          <i class="bi bi-5-square-fill accordion-icon"></i>
                          <p class="ms-2 fw-bold">Flex 網頁排版技巧</p>
                        </div>
                        <div class="d-flex align-items-center me-3 d-none d-lg-block">
                          <p class="fs-8 text-neutral-400">4個單元<span class="mx-2 circle"></span>少於1分鐘</p>
                        </div>
                      </div>
                    </button> 
                    </h2>
                    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFive">
                    <div class="accordion-body px-0">
                        <ul class="list-unstyled">
                        <li> 
                          <a href="#" class="d-flex justify-content-between align-items-center py-4 px-6">
                            <div class="course-name d-flex align-items-center">
                              <i class="bi bi-camera-video accordion-item-icon"></i>
                              <p class="ms-3">課程說明</p>
                            </div>
                            <div class="time d-flex align-items-center">
                              <p class="try-it bg-primary text-white fs-9 py-1 px-2">試看單元</p>
                              <p class="ms-4 fs-8">00:10</p>
                            </div>
                          </a>
                        </li>
                        <li> 
                          <a href="#" class="d-flex justify-content-between py-4 px-6">
                            <div class="course-name d-flex align-items-center">
                              <i class="bi bi-camera-video accordion-item-icon"></i>
                              <p class="ms-3">課程最終任務說明</p>
                            </div>
                            <div class="time d-flex align-items-center">
                              <p class="ms-4 fs-8">00:10</p>
                            </div>
                          </a> 
                        </li>
                        <li> 
                            <a href="#" class="d-flex justify-content-between py-4 px-6">
                              <div class="course-name d-flex align-items-center">
                                <i class="bi bi-camera-video accordion-item-icon"></i>
                                <p class="ms-3">課程說明</p>
                              </div>
                              <div class="time d-flex align-items-center">
                                <p class="ms-4 fs-8">00:10</p>
                              </div>
                            </a> 
                          </li>
                          <li> 
                            <a href="#" class="d-flex justify-content-between py-4 px-6">
                              <div class="course-name d-flex">
                                <i class="bi bi-camera-video accordion-item-icon"></i>
                                <p class="ms-3">Hahow 學生如何在六角平台檢視問題</p>
                              </div>
                              <div class="time d-flex align-items-center">
                                <p class="ms-4 fs-8">00:10</p>
                              </div>
                            </a> 
                          </li>
                        <li> 
                          <a href="#" class="d-flex justify-content-between py-4 px-6">
                            <div class="course-name d-flex align-items-center">
                              <i class="bi bi-book accordion-item-icon"></i>
                              <p class="ms-3">課業作業</p>
                            </div>
                            <div class="time d-flex align-items-center">
                              <p class="ms-4 fs-8">00:10</p>
                            </div>
                          </a> 
                        </li>
                        </ul>
                    </div>
                </div>
                </div>
                <!-- unit6 -->
                <div class="accordion-item mb-4 rounded-2">
                    <h2 class="accordion-header" id="panelsStayOpen-headingSix"> 
                    <button class="accordion-button collapsed rounded" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="panelsStayOpen-collapseSix">
                      <div class="w-100 d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center"> 
                          <i class="bi bi-6-square-fill accordion-icon"></i>
                          <p class="ms-2 fw-bold">Flex 精神時光屋</p>
                        </div>
                        <div class="d-flex align-items-center me-3 d-none d-lg-block">
                          <p class="fs-8 text-neutral-400">4個單元<span class="mx-2 circle"></span>少於1分鐘</p>
                        </div>
                      </div>
                    </button> 
                    </h2>
                    <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingSix">
                    <div class="accordion-body px-0">
                        <ul class="list-unstyled">
                        <li> 
                          <a href="#" class="d-flex justify-content-between align-items-center py-4 px-6">
                            <div class="course-name d-flex align-items-center">
                              <i class="bi bi-camera-video accordion-item-icon"></i>
                              <p class="ms-3">課程說明</p>
                            </div>
                            <div class="time d-flex align-items-center">
                              <p class="try-it bg-primary text-white fs-9 py-1 px-2">試看單元</p>
                              <p class="ms-4 fs-8">00:10</p>
                            </div>
                          </a>
                        </li>
                        <li> 
                          <a href="#" class="d-flex justify-content-between py-4 px-6">
                            <div class="course-name d-flex align-items-center">
                              <i class="bi bi-camera-video accordion-item-icon"></i>
                              <p class="ms-3">課程最終任務說明</p>
                            </div>
                            <div class="time d-flex align-items-center">
                              <p class="ms-4 fs-8">00:10</p>
                            </div>
                          </a> 
                        </li>
                        <li> 
                            <a href="#" class="d-flex justify-content-between py-4 px-6">
                              <div class="course-name d-flex align-items-center">
                                <i class="bi bi-camera-video accordion-item-icon"></i>
                                <p class="ms-3">課程說明</p>
                              </div>
                              <div class="time d-flex align-items-center">
                                <p class="ms-4 fs-8">00:10</p>
                              </div>
                            </a> 
                          </li>
                          <li> 
                            <a href="#" class="d-flex justify-content-between py-4 px-6">
                              <div class="course-name d-flex">
                                <i class="bi bi-camera-video accordion-item-icon"></i>
                                <p class="ms-3">Hahow 學生如何在六角平台檢視問題</p>
                              </div>
                              <div class="time d-flex align-items-center">
                                <p class="ms-4 fs-8">00:10</p>
                              </div>
                            </a> 
                          </li>
                        <li> 
                          <a href="#" class="d-flex justify-content-between py-4 px-6">
                            <div class="course-name d-flex align-items-center">
                              <i class="bi bi-book accordion-item-icon"></i>
                              <p class="ms-3">課業作業</p>
                            </div>
                            <div class="time d-flex align-items-center">
                              <p class="ms-4 fs-8">00:10</p>
                            </div>
                          </a> 
                        </li>
                        </ul>
                    </div>
                </div>
                </div>
                <!-- unit7 -->
                <div class="accordion-item mb-4 rounded-2">
                    <h2 class="accordion-header" id="panelsStayOpen-headingSeven"> 
                    <button class="accordion-button collapsed rounded" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="panelsStayOpen-collapseSeven">
                      <div class="w-100 d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center"> 
                          <i class="bi bi-7-square-fill accordion-icon"></i>
                          <p class="ms-2 fw-bold">章節說明</p>
                        </div>
                        <div class="d-flex align-items-center me-3 d-none d-lg-block">
                          <p class="fs-8 text-neutral-400">4個單元<span class="mx-2 circle"></span>少於1分鐘</p>
                        </div>
                      </div>
                    </button> 
                    </h2>
                    <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingSeven">
                    <div class="accordion-body px-0">
                        <ul class="list-unstyled">
                        <li> 
                          <a href="#" class="d-flex justify-content-between align-items-center py-4 px-6">
                            <div class="course-name d-flex align-items-center">
                              <i class="bi bi-camera-video accordion-item-icon"></i>
                              <p class="ms-3">課程說明</p>
                            </div>
                            <div class="time d-flex align-items-center">
                              <p class="try-it bg-primary text-white fs-9 py-1 px-2">試看單元</p>
                              <p class="ms-4 fs-8">00:10</p>
                            </div>
                          </a>
                        </li>
                        <li> 
                          <a href="#" class="d-flex justify-content-between py-4 px-6">
                            <div class="course-name d-flex align-items-center">
                              <i class="bi bi-camera-video accordion-item-icon"></i>
                              <p class="ms-3">課程最終任務說明</p>
                            </div>
                            <div class="time d-flex align-items-center">
                              <p class="ms-4 fs-8">00:10</p>
                            </div>
                          </a> 
                        </li>
                        <li> 
                            <a href="#" class="d-flex justify-content-between py-4 px-6">
                              <div class="course-name d-flex align-items-center">
                                <i class="bi bi-camera-video accordion-item-icon"></i>
                                <p class="ms-3">課程說明</p>
                              </div>
                              <div class="time d-flex align-items-center">
                                <p class="ms-4 fs-8">00:10</p>
                              </div>
                            </a> 
                          </li>
                          <li> 
                            <a href="#" class="d-flex justify-content-between py-4 px-6">
                              <div class="course-name d-flex">
                                <i class="bi bi-camera-video accordion-item-icon"></i>
                                <p class="ms-3">Hahow 學生如何在六角平台檢視問題</p>
                              </div>
                              <div class="time d-flex align-items-center">
                                <p class="ms-4 fs-8">00:10</p>
                              </div>
                            </a> 
                          </li>
                        <li> 
                          <a href="#" class="d-flex justify-content-between py-4 px-6">
                            <div class="course-name d-flex align-items-center">
                              <i class="bi bi-book accordion-item-icon"></i>
                              <p class="ms-3">課業作業</p>
                            </div>
                            <div class="time d-flex align-items-center">
                              <p class="ms-4 fs-8">00:10</p>
                            </div>
                          </a> 
                        </li>
                        </ul>
                    </div>
                </div>
                </div>
                <!-- unit8 -->
                <div class="accordion-item mb-4 rounded-2">
                    <h2 class="accordion-header" id="panelsStayOpen-headingEight"> 
                    <button class="accordion-button collapsed rounded" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="panelsStayOpen-collapseEight">
                      <div class="w-100 d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center"> 
                          <i class="bi bi-8-square-fill accordion-icon"></i>
                          <p class="ms-2 fw-bold">網頁排版技巧 Part II</p>
                        </div>
                        <div class="d-flex align-items-center me-3 d-none d-lg-block">
                          <p class="fs-8 text-neutral-400">4個單元<span class="mx-2 circle"></span>少於1分鐘</p>
                        </div>
                      </div>
                    </button> 
                    </h2>
                    <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingEight">
                    <div class="accordion-body px-0">
                        <ul class="list-unstyled">
                        <li> 
                          <a href="#" class="d-flex justify-content-between align-items-center py-4 px-6">
                            <div class="course-name d-flex align-items-center">
                              <i class="bi bi-camera-video accordion-item-icon"></i>
                              <p class="ms-3">課程說明</p>
                            </div>
                            <div class="time d-flex align-items-center">
                              <p class="try-it bg-primary text-white fs-9 py-1 px-2">試看單元</p>
                              <p class="ms-4 fs-8">00:10</p>
                            </div>
                          </a>
                        </li>
                        <li> 
                          <a href="#" class="d-flex justify-content-between py-4 px-6">
                            <div class="course-name d-flex align-items-center">
                              <i class="bi bi-camera-video accordion-item-icon"></i>
                              <p class="ms-3">課程最終任務說明</p>
                            </div>
                            <div class="time d-flex align-items-center">
                              <p class="ms-4 fs-8">00:10</p>
                            </div>
                          </a> 
                        </li>
                        <li> 
                            <a href="#" class="d-flex justify-content-between py-4 px-6">
                              <div class="course-name d-flex align-items-center">
                                <i class="bi bi-camera-video accordion-item-icon"></i>
                                <p class="ms-3">課程說明</p>
                              </div>
                              <div class="time d-flex align-items-center">
                                <p class="ms-4 fs-8">00:10</p>
                              </div>
                            </a> 
                          </li>
                          <li> 
                            <a href="#" class="d-flex justify-content-between py-4 px-6">
                              <div class="course-name d-flex">
                                <i class="bi bi-camera-video accordion-item-icon"></i>
                                <p class="ms-3">Hahow 學生如何在六角平台檢視問題</p>
                              </div>
                              <div class="time d-flex align-items-center">
                                <p class="ms-4 fs-8">00:10</p>
                              </div>
                            </a> 
                          </li>
                        <li> 
                          <a href="#" class="d-flex justify-content-between py-4 px-6">
                            <div class="course-name d-flex align-items-center">
                              <i class="bi bi-book accordion-item-icon"></i>
                              <p class="ms-3">課業作業</p>
                            </div>
                            <div class="time d-flex align-items-center">
                              <p class="ms-4 fs-8">00:10</p>
                            </div>
                          </a> 
                        </li>
                        </ul>
                    </div>
                </div>
                </div>
                <!-- unit9 -->
                <div class="accordion-item mb-4 rounded-2">
                    <h2 class="accordion-header" id="panelsStayOpen-headingNine"> 
                    <button class="accordion-button collapsed rounded" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="panelsStayOpen-collapseNine">
                      <div class="w-100 d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center"> 
                          <i class="bi bi-9-square-fill accordion-icon"></i>
                          <p class="ms-2 fw-bold">切圖技巧</p>
                        </div>
                        <div class="d-flex align-items-center me-3 d-none d-lg-block">
                          <p class="fs-8 text-neutral-400">4個單元<span class="mx-2 circle"></span>少於1分鐘</p>
                        </div>
                      </div>
                    </button> 
                    </h2>
                    <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingNine">
                    <div class="accordion-body px-0">
                        <ul class="list-unstyled">
                        <li> 
                          <a href="#" class="d-flex justify-content-between align-items-center py-4 px-6">
                            <div class="course-name d-flex align-items-center">
                              <i class="bi bi-camera-video accordion-item-icon"></i>
                              <p class="ms-3">課程說明</p>
                            </div>
                            <div class="time d-flex align-items-center">
                              <p class="try-it bg-primary text-white fs-9 py-1 px-2">試看單元</p>
                              <p class="ms-4 fs-8">00:10</p>
                            </div>
                          </a>
                        </li>
                        <li> 
                          <a href="#" class="d-flex justify-content-between py-4 px-6">
                            <div class="course-name d-flex align-items-center">
                              <i class="bi bi-camera-video accordion-item-icon"></i>
                              <p class="ms-3">課程最終任務說明</p>
                            </div>
                            <div class="time d-flex align-items-center">
                              <p class="ms-4 fs-8">00:10</p>
                            </div>
                          </a> 
                        </li>
                        <li> 
                            <a href="#" class="d-flex justify-content-between py-4 px-6">
                              <div class="course-name d-flex align-items-center">
                                <i class="bi bi-camera-video accordion-item-icon"></i>
                                <p class="ms-3">課程說明</p>
                              </div>
                              <div class="time d-flex align-items-center">
                                <p class="ms-4 fs-8">00:10</p>
                              </div>
                            </a> 
                          </li>
                          <li> 
                            <a href="#" class="d-flex justify-content-between py-4 px-6">
                              <div class="course-name d-flex">
                                <i class="bi bi-camera-video accordion-item-icon"></i>
                                <p class="ms-3">Hahow 學生如何在六角平台檢視問題</p>
                              </div>
                              <div class="time d-flex align-items-center">
                                <p class="ms-4 fs-8">00:10</p>
                              </div>
                            </a> 
                          </li>
                        <li> 
                          <a href="#" class="d-flex justify-content-between py-4 px-6">
                            <div class="course-name d-flex align-items-center">
                              <i class="bi bi-book accordion-item-icon"></i>
                              <p class="ms-3">課業作業</p>
                            </div>
                            <div class="time d-flex align-items-center">
                              <p class="ms-4 fs-8">00:10</p>
                            </div>
                          </a> 
                        </li>
                        </ul>
                    </div>
                </div>
                </div>
                <!-- unit10 -->
                <div class="accordion-item mb-4 rounded-2">
                    <h2 class="accordion-header" id="panelsStayOpen-headingTen"> 
                    <button class="accordion-button collapsed rounded" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="panelsStayOpen-collapseTen">
                      <div class="w-100 d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center"> 
                          <p class="text-white bg-neutral-400 rounded-1 fs-8 fw-bold p-1 align-middle">10</p>
                          <p class="ms-2 fw-bold">表格與表單設計技巧</p>
                        </div>
                        <div class="d-flex align-items-center me-3 d-none d-lg-block">
                          <p class="fs-8 text-neutral-400">4個單元<span class="mx-2 circle"></span>少於1分鐘</p>
                        </div>
                      </div>
                    </button> 
                    </h2>
                    <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTen">
                    <div class="accordion-body px-0">
                        <ul class="list-unstyled">
                        <li> 
                          <a href="#" class="d-flex justify-content-between align-items-center py-4 px-6">
                            <div class="course-name d-flex align-items-center">
                              <i class="bi bi-camera-video accordion-item-icon"></i>
                              <p class="ms-3">課程說明</p>
                            </div>
                            <div class="time d-flex align-items-center">
                              <p class="try-it bg-primary text-white fs-9 py-1 px-2">試看單元</p>
                              <p class="ms-4 fs-8">00:10</p>
                            </div>
                          </a>
                        </li>
                        <li> 
                          <a href="#" class="d-flex justify-content-between py-4 px-6">
                            <div class="course-name d-flex align-items-center">
                              <i class="bi bi-camera-video accordion-item-icon"></i>
                              <p class="ms-3">課程最終任務說明</p>
                            </div>
                            <div class="time d-flex align-items-center">
                              <p class="ms-4 fs-8">00:10</p>
                            </div>
                          </a> 
                        </li>
                        <li> 
                            <a href="#" class="d-flex justify-content-between py-4 px-6">
                              <div class="course-name d-flex align-items-center">
                                <i class="bi bi-camera-video accordion-item-icon"></i>
                                <p class="ms-3">課程說明</p>
                              </div>
                              <div class="time d-flex align-items-center">
                                <p class="ms-4 fs-8">00:10</p>
                              </div>
                            </a> 
                          </li>
                          <li> 
                            <a href="#" class="d-flex justify-content-between py-4 px-6">
                              <div class="course-name d-flex">
                                <i class="bi bi-camera-video accordion-item-icon"></i>
                                <p class="ms-3">Hahow 學生如何在六角平台檢視問題</p>
                              </div>
                              <div class="time d-flex align-items-center">
                                <p class="ms-4 fs-8">00:10</p>
                              </div>
                            </a> 
                          </li>
                        <li> 
                          <a href="#" class="d-flex justify-content-between py-4 px-6">
                            <div class="course-name d-flex align-items-center">
                              <i class="bi bi-book accordion-item-icon"></i>
                              <p class="ms-3">課業作業</p>
                            </div>
                            <div class="time d-flex align-items-center">
                              <p class="ms-4 fs-8">00:10</p>
                            </div>
                          </a> 
                        </li>
                        </ul>
                    </div>
                </div>
                </div>
                <!-- unit11 -->
                <div class="accordion-item mb-4 rounded-2">
                    <h2 class="accordion-header" id="panelsStayOpen-headingEleven"> 
                    <button class="accordion-button collapsed rounded" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEleven" aria-expanded="false" aria-controls="panelsStayOpen-collapseEleven">
                      <div class="w-100 d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center"> 
                          <p class="text-white bg-neutral-400 rounded-1 fs-8 fw-bold p-1 align-middle">11</p>
                          <p class="ms-2 fw-bold">CSS3 技巧</p>
                        </div>
                        <div class="d-flex align-items-center me-3 d-none d-lg-block">
                          <p class="fs-8 text-neutral-400">4個單元<span class="mx-2 circle"></span>少於1分鐘</p>
                        </div>
                      </div>
                    </button> 
                    </h2>
                    <div id="collapseEleven" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingEleven">
                    <div class="accordion-body px-0">
                        <ul class="list-unstyled">
                        <li> 
                          <a href="#" class="d-flex justify-content-between align-items-center py-4 px-6">
                            <div class="course-name d-flex align-items-center">
                              <i class="bi bi-camera-video accordion-item-icon"></i>
                              <p class="ms-3">課程說明</p>
                            </div>
                            <div class="time d-flex align-items-center">
                              <p class="try-it bg-primary text-white fs-9 py-1 px-2">試看單元</p>
                              <p class="ms-4 fs-8">00:10</p>
                            </div>
                          </a>
                        </li>
                        <li> 
                          <a href="#" class="d-flex justify-content-between py-4 px-6">
                            <div class="course-name d-flex align-items-center">
                              <i class="bi bi-camera-video accordion-item-icon"></i>
                              <p class="ms-3">課程最終任務說明</p>
                            </div>
                            <div class="time d-flex align-items-center">
                              <p class="ms-4 fs-8">00:10</p>
                            </div>
                          </a> 
                        </li>
                        <li> 
                            <a href="#" class="d-flex justify-content-between py-4 px-6">
                              <div class="course-name d-flex align-items-center">
                                <i class="bi bi-camera-video accordion-item-icon"></i>
                                <p class="ms-3">課程說明</p>
                              </div>
                              <div class="time d-flex align-items-center">
                                <p class="ms-4 fs-8">00:10</p>
                              </div>
                            </a> 
                          </li>
                          <li> 
                            <a href="#" class="d-flex justify-content-between py-4 px-6">
                              <div class="course-name d-flex">
                                <i class="bi bi-camera-video accordion-item-icon"></i>
                                <p class="ms-3">Hahow 學生如何在六角平台檢視問題</p>
                              </div>
                              <div class="time d-flex align-items-center">
                                <p class="ms-4 fs-8">00:10</p>
                              </div>
                            </a> 
                          </li>
                        <li> 
                          <a href="#" class="d-flex justify-content-between py-4 px-6">
                            <div class="course-name d-flex align-items-center">
                              <i class="bi bi-book accordion-item-icon"></i>
                              <p class="ms-3">課業作業</p>
                            </div>
                            <div class="time d-flex align-items-center">
                              <p class="ms-4 fs-8">00:10</p>
                            </div>
                          </a> 
                        </li>
                        </ul>
                    </div>
                </div>
                </div>
                <!-- unit12 -->
                <div class="accordion-item mb-4 rounded-2">
                    <h2 class="accordion-header" id="panelsStayOpen-headingTwelve"> 
                    <button class="accordion-button collapsed rounded" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwelve" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwelve">
                      <div class="w-100 d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center"> 
                          <p class="text-white bg-neutral-400 rounded-1 fs-8 fw-bold p-1 align-middle">12</p>
                          <p class="ms-2 fw-bold">最後，讓你的網頁變得更專業</p>
                        </div>
                        <div class="d-flex align-items-center me-3 d-none d-lg-block">
                          <p class="fs-8 text-neutral-400">4個單元<span class="mx-2 circle"></span>少於1分鐘</p>
                        </div>
                      </div>
                    </button> 
                    </h2>
                    <div id="collapseTwelve" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwelve">
                    <div class="accordion-body px-0">
                        <ul class="list-unstyled">
                        <li> 
                          <a href="#" class="d-flex justify-content-between align-items-center py-4 px-6">
                            <div class="course-name d-flex align-items-center">
                              <i class="bi bi-camera-video accordion-item-icon"></i>
                              <p class="ms-3">課程說明</p>
                            </div>
                            <div class="time d-flex align-items-center">
                              <p class="try-it bg-primary text-white fs-9 py-1 px-2">試看單元</p>
                              <p class="ms-4 fs-8">00:10</p>
                            </div>
                          </a>
                        </li>
                        <li> 
                          <a href="#" class="d-flex justify-content-between py-4 px-6">
                            <div class="course-name d-flex align-items-center">
                              <i class="bi bi-camera-video accordion-item-icon"></i>
                              <p class="ms-3">課程最終任務說明</p>
                            </div>
                            <div class="time d-flex align-items-center">
                              <p class="ms-4 fs-8">00:10</p>
                            </div>
                          </a> 
                        </li>
                        <li> 
                            <a href="#" class="d-flex justify-content-between py-4 px-6">
                              <div class="course-name d-flex align-items-center">
                                <i class="bi bi-camera-video accordion-item-icon"></i>
                                <p class="ms-3">課程說明</p>
                              </div>
                              <div class="time d-flex align-items-center">
                                <p class="ms-4 fs-8">00:10</p>
                              </div>
                            </a> 
                          </li>
                          <li> 
                            <a href="#" class="d-flex justify-content-between py-4 px-6">
                              <div class="course-name d-flex">
                                <i class="bi bi-camera-video accordion-item-icon"></i>
                                <p class="ms-3">Hahow 學生如何在六角平台檢視問題</p>
                              </div>
                              <div class="time d-flex align-items-center">
                                <p class="ms-4 fs-8">00:10</p>
                              </div>
                            </a> 
                          </li>
                        <li> 
                          <a href="#" class="d-flex justify-content-between py-4 px-6">
                            <div class="course-name d-flex align-items-center">
                              <i class="bi bi-book accordion-item-icon"></i>
                              <p class="ms-3">課業作業</p>
                            </div>
                            <div class="time d-flex align-items-center">
                              <p class="ms-4 fs-8">00:10</p>
                            </div>
                          </a> 
                        </li>
                        </ul>
                    </div>
                </div>
                </div>
                <!-- unit13 -->
                <div class="accordion-item mb-4 rounded-2">
                    <h2 class="accordion-header" id="panelsStayOpen-headingThirteen"> 
                    <button class="accordion-button collapsed rounded" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThirteen" aria-expanded="false" aria-controls="panelsStayOpen-collapseThirteen">
                      <div class="w-100 d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center"> 
                          <p class="text-white bg-neutral-400 rounded-1 fs-8 fw-bold p-1 align-middle">13</p>
                          <p class="ms-2 fw-bold">開發多頁式網站實戰講解</p>
                        </div>
                        <div class="d-flex align-items-center me-3 d-none d-lg-block">
                          <p class="fs-8 text-neutral-400">4個單元<span class="mx-2 circle"></span>少於1分鐘</p>
                        </div>
                      </div>
                    </button> 
                    </h2>
                    <div id="collapseThirteen" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThirteen">
                    <div class="accordion-body px-0">
                        <ul class="list-unstyled">
                        <li> 
                          <a href="#" class="d-flex justify-content-between align-items-center py-4 px-6">
                            <div class="course-name d-flex align-items-center">
                              <i class="bi bi-camera-video accordion-item-icon"></i>
                              <p class="ms-3">課程說明</p>
                            </div>
                            <div class="time d-flex align-items-center">
                              <p class="try-it bg-primary text-white fs-9 py-1 px-2">試看單元</p>
                              <p class="ms-4 fs-8">00:10</p>
                            </div>
                          </a>
                        </li>
                        <li> 
                          <a href="#" class="d-flex justify-content-between py-4 px-6">
                            <div class="course-name d-flex align-items-center">
                              <i class="bi bi-camera-video accordion-item-icon"></i>
                              <p class="ms-3">課程最終任務說明</p>
                            </div>
                            <div class="time d-flex align-items-center">
                              <p class="ms-4 fs-8">00:10</p>
                            </div>
                          </a> 
                        </li>
                        <li> 
                            <a href="#" class="d-flex justify-content-between py-4 px-6">
                              <div class="course-name d-flex align-items-center">
                                <i class="bi bi-camera-video accordion-item-icon"></i>
                                <p class="ms-3">課程說明</p>
                              </div>
                              <div class="time d-flex align-items-center">
                                <p class="ms-4 fs-8">00:10</p>
                              </div>
                            </a> 
                          </li>
                          <li> 
                            <a href="#" class="d-flex justify-content-between py-4 px-6">
                              <div class="course-name d-flex">
                                <i class="bi bi-camera-video accordion-item-icon"></i>
                                <p class="ms-3">Hahow 學生如何在六角平台檢視問題</p>
                              </div>
                              <div class="time d-flex align-items-center">
                                <p class="ms-4 fs-8">00:10</p>
                              </div>
                            </a> 
                          </li>
                        <li> 
                          <a href="#" class="d-flex justify-content-between py-4 px-6">
                            <div class="course-name d-flex align-items-center">
                              <i class="bi bi-book accordion-item-icon"></i>
                              <p class="ms-3">課業作業</p>
                            </div>
                            <div class="time d-flex align-items-center">
                              <p class="ms-4 fs-8">00:10</p>
                            </div>
                          </a> 
                        </li>
                        </ul>
                    </div>
                </div>
                </div>
                <!-- unit14 -->
                <div class="accordion-item mb-4 rounded-2">
                    <h2 class="accordion-header" id="panelsStayOpen-headingFourteen"> 
                    <button class="accordion-button collapsed rounded" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFourteen" aria-expanded="false" aria-controls="panelsStayOpen-collapseFourteen">
                      <div class="w-100 d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center"> 
                          <p class="text-white bg-neutral-400 rounded-1 fs-8 fw-bold p-1 align-middle">14</p>
                          <p class="ms-2 fw-bold">接下來，你還可以學什麼？</p>
                        </div>
                        <div class="d-flex align-items-center me-3 d-none d-lg-block">
                          <p class="fs-8 text-neutral-400">4個單元<span class="mx-2 circle"></span>少於1分鐘</p>
                        </div>
                      </div>
                    </button> 
                    </h2>
                    <div id="collapseFourteen" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFourteen">
                    <div class="accordion-body px-0">
                        <ul class="list-unstyled">
                        <li> 
                          <a href="#" class="d-flex justify-content-between align-items-center py-4 px-6">
                            <div class="course-name d-flex align-items-center">
                              <i class="bi bi-camera-video accordion-item-icon"></i>
                              <p class="ms-3">課程說明</p>
                            </div>
                            <div class="time d-flex align-items-center">
                              <p class="try-it bg-primary text-white fs-9 py-1 px-2">試看單元</p>
                              <p class="ms-4 fs-8">00:10</p>
                            </div>
                          </a>
                        </li>
                        <li> 
                          <a href="#" class="d-flex justify-content-between py-4 px-6">
                            <div class="course-name d-flex align-items-center">
                              <i class="bi bi-camera-video accordion-item-icon"></i>
                              <p class="ms-3">課程最終任務說明</p>
                            </div>
                            <div class="time d-flex align-items-center">
                              <p class="ms-4 fs-8">00:10</p>
                            </div>
                          </a> 
                        </li>
                        <li> 
                            <a href="#" class="d-flex justify-content-between py-4 px-6">
                              <div class="course-name d-flex align-items-center">
                                <i class="bi bi-camera-video accordion-item-icon"></i>
                                <p class="ms-3">課程說明</p>
                              </div>
                              <div class="time d-flex align-items-center">
                                <p class="ms-4 fs-8">00:10</p>
                              </div>
                            </a> 
                          </li>
                          <li> 
                            <a href="#" class="d-flex justify-content-between py-4 px-6">
                              <div class="course-name d-flex">
                                <i class="bi bi-camera-video accordion-item-icon"></i>
                                <p class="ms-3">Hahow 學生如何在六角平台檢視問題</p>
                              </div>
                              <div class="time d-flex align-items-center">
                                <p class="ms-4 fs-8">00:10</p>
                              </div>
                            </a> 
                          </li>
                        <li> 
                          <a href="#" class="d-flex justify-content-between py-4 px-6">
                            <div class="course-name d-flex align-items-center">
                              <i class="bi bi-book accordion-item-icon"></i>
                              <p class="ms-3">課業作業</p>
                            </div>
                            <div class="time d-flex align-items-center">
                              <p class="ms-4 fs-8">00:10</p>
                            </div>
                          </a> 
                        </li>
                        </ul>
                    </div>
                </div>
                </div>
                <!-- unit15 -->
                <div class="accordion-item mb-4 rounded-2">
                    <h2 class="accordion-header" id="panelsStayOpen-headingFifteen"> 
                    <button class="accordion-button collapsed rounded" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFifteen" aria-expanded="false" aria-controls="panelsStayOpen-collapseFifteen">
                      <div class="w-100 d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center"> 
                          <p class="text-white bg-neutral-400 rounded-1 fs-8 fw-bold p-1 align-middle">15</p>
                          <p class="ms-2 fw-bold">網頁編輯器、HTML 基礎教學（舊章節）</p>
                        </div>
                        <div class="d-flex align-items-center me-3 d-none d-lg-block">
                          <p class="fs-8 text-neutral-400">4個單元<span class="mx-2 circle"></span>少於1分鐘</p>
                        </div>
                      </div>
                    </button> 
                    </h2>
                    <div id="collapseFifteen" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFifteen">
                    <div class="accordion-body px-0">
                        <ul class="list-unstyled">
                        <li> 
                          <a href="#" class="d-flex justify-content-between align-items-center py-4 px-6">
                            <div class="course-name d-flex align-items-center">
                              <i class="bi bi-camera-video accordion-item-icon"></i>
                              <p class="ms-3">課程說明</p>
                            </div>
                            <div class="time d-flex align-items-center">
                              <p class="try-it bg-primary text-white fs-9 py-1 px-2">試看單元</p>
                              <p class="ms-4 fs-8">00:10</p>
                            </div>
                          </a>
                        </li>
                        <li> 
                          <a href="#" class="d-flex justify-content-between py-4 px-6">
                            <div class="course-name d-flex align-items-center">
                              <i class="bi bi-camera-video accordion-item-icon"></i>
                              <p class="ms-3">課程最終任務說明</p>
                            </div>
                            <div class="time d-flex align-items-center">
                              <p class="ms-4 fs-8">00:10</p>
                            </div>
                          </a> 
                        </li>
                        <li> 
                            <a href="#" class="d-flex justify-content-between py-4 px-6">
                              <div class="course-name d-flex align-items-center">
                                <i class="bi bi-camera-video accordion-item-icon"></i>
                                <p class="ms-3">課程說明</p>
                              </div>
                              <div class="time d-flex align-items-center">
                                <p class="ms-4 fs-8">00:10</p>
                              </div>
                            </a> 
                          </li>
                          <li> 
                            <a href="#" class="d-flex justify-content-between py-4 px-6">
                              <div class="course-name d-flex">
                                <i class="bi bi-camera-video accordion-item-icon"></i>
                                <p class="ms-3">Hahow 學生如何在六角平台檢視問題</p>
                              </div>
                              <div class="time d-flex align-items-center">
                                <p class="ms-4 fs-8">00:10</p>
                              </div>
                            </a> 
                          </li>
                        <li> 
                          <a href="#" class="d-flex justify-content-between py-4 px-6">
                            <div class="course-name d-flex align-items-center">
                              <i class="bi bi-book accordion-item-icon"></i>
                              <p class="ms-3">課業作業</p>
                            </div>
                            <div class="time d-flex align-items-center">
                              <p class="ms-4 fs-8">00:10</p>
                            </div>
                          </a> 
                        </li>
                        </ul>
                    </div>
                </div>
                </div>
                <!-- unit16 -->
                <div class="accordion-item mb-4 rounded-2">
                    <h2 class="accordion-header" id="panelsStayOpen-headingSixteen"> 
                    <button class="accordion-button collapsed rounded" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSixteen" aria-expanded="true" aria-controls="panelsStayOpen-collapseSixteen">
                      <div class="w-100 d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center"> 
                          <p class="text-white bg-neutral-400 rounded-1 fs-8 fw-bold p-1 align-middle">16</p>
                          <p class="ms-2 fw-bold">CSS 常用語法（舊章節）</p>
                        </div>
                        <div class="d-flex align-items-center me-3 d-none d-lg-block">
                          <p class="fs-8 text-neutral-400">4個單元<span class="mx-2 circle"></span>少於1分鐘</p>
                        </div>
                      </div>
                    </button> 
                    </h2>
                    <div id="collapseSixteen" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingSixteen">
                    <div class="accordion-body px-0">
                        <ul class="list-unstyled">
                        <li> 
                          <a href="#" class="d-flex justify-content-between align-items-center py-4 px-6">
                            <div class="course-name d-flex align-items-center">
                              <i class="bi bi-camera-video accordion-item-icon"></i>
                              <p class="ms-3">課程說明</p>
                            </div>
                            <div class="time d-flex align-items-center">
                              <p class="try-it bg-primary text-white fs-9 py-1 px-2">試看單元</p>
                              <p class="ms-4 fs-8">00:10</p>
                            </div>
                          </a>
                        </li>
                        <li> 
                          <a href="#" class="d-flex justify-content-between py-4 px-6">
                            <div class="course-name d-flex align-items-center">
                              <i class="bi bi-camera-video accordion-item-icon"></i>
                              <p class="ms-3">課程最終任務說明</p>
                            </div>
                            <div class="time d-flex align-items-center">
                              <p class="ms-4 fs-8">00:10</p>
                            </div>
                          </a> 
                        </li>
                        <li> 
                            <a href="#" class="d-flex justify-content-between py-4 px-6">
                              <div class="course-name d-flex align-items-center">
                                <i class="bi bi-camera-video accordion-item-icon"></i>
                                <p class="ms-3">課程說明</p>
                              </div>
                              <div class="time d-flex align-items-center">
                                <p class="ms-4 fs-8">00:10</p>
                              </div>
                            </a> 
                          </li>
                          <li> 
                            <a href="#" class="d-flex justify-content-between py-4 px-6">
                              <div class="course-name d-flex">
                                <i class="bi bi-camera-video accordion-item-icon"></i>
                                <p class="ms-3">Hahow 學生如何在六角平台檢視問題</p>
                              </div>
                              <div class="time d-flex align-items-center">
                                <p class="ms-4 fs-8">00:10</p>
                              </div>
                            </a> 
                          </li>
                        <li> 
                          <a href="#" class="d-flex justify-content-between py-4 px-6">
                            <div class="course-name d-flex align-items-center">
                              <i class="bi bi-book accordion-item-icon"></i>
                              <p class="ms-3">課業作業</p>
                            </div>
                            <div class="time d-flex align-items-center">
                              <p class="ms-4 fs-8">00:10</p>
                            </div>
                          </a> 
                        </li>
                        </ul>
                    </div>
                </div>
                </div>
                <!-- unit17 -->
                <div class="accordion-item mb-4 rounded-2">
                    <h2 class="accordion-header" id="panelsStayOpen-headingSeventeen"> 
                    <button class="accordion-button collapsed rounded" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeventeen" aria-expanded="true" aria-controls="panelsStayOpen-collapseSeventeen">
                      <div class="w-100 d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center"> 
                          <p class="text-white bg-neutral-400 rounded-1 fs-8 fw-bold p-1 align-middle">17</p>
                          <p class="ms-2 fw-bold">2020 使用 CSS 變更 HTML 標籤特性</p>
                        </div>
                        <div class="d-flex align-items-center me-3 d-none d-lg-block">
                          <p class="fs-8 text-neutral-400">4個單元<span class="mx-2 circle"></span>少於1分鐘</p>
                        </div>
                      </div>
                    </button> 
                    </h2>
                    <div id="collapseSeventeen" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingSeventeen">
                    <div class="accordion-body px-0">
                        <ul class="list-unstyled">
                        <li> 
                          <a href="#" class="d-flex justify-content-between align-items-center py-4 px-6">
                            <div class="course-name d-flex align-items-center">
                              <i class="bi bi-camera-video accordion-item-icon"></i>
                              <p class="ms-3">課程說明</p>
                            </div>
                            <div class="time d-flex align-items-center">
                              <p class="try-it bg-primary text-white fs-9 py-1 px-2">試看單元</p>
                              <p class="ms-4 fs-8">00:10</p>
                            </div>
                          </a>
                        </li>
                        <li> 
                          <a href="#" class="d-flex justify-content-between py-4 px-6">
                            <div class="course-name d-flex align-items-center">
                              <i class="bi bi-camera-video accordion-item-icon"></i>
                              <p class="ms-3">課程最終任務說明</p>
                            </div>
                            <div class="time d-flex align-items-center">
                              <p class="ms-4 fs-8">00:10</p>
                            </div>
                          </a> 
                        </li>
                        <li> 
                            <a href="#" class="d-flex justify-content-between py-4 px-6">
                              <div class="course-name d-flex align-items-center">
                                <i class="bi bi-camera-video accordion-item-icon"></i>
                                <p class="ms-3">課程說明</p>
                              </div>
                              <div class="time d-flex align-items-center">
                                <p class="ms-4 fs-8">00:10</p>
                              </div>
                            </a> 
                          </li>
                          <li> 
                            <a href="#" class="d-flex justify-content-between py-4 px-6">
                              <div class="course-name d-flex">
                                <i class="bi bi-camera-video accordion-item-icon"></i>
                                <p class="ms-3">Hahow 學生如何在六角平台檢視問題</p>
                              </div>
                              <div class="time d-flex align-items-center">
                                <p class="ms-4 fs-8">00:10</p>
                              </div>
                            </a> 
                          </li>
                        <li> 
                          <a href="#" class="d-flex justify-content-between py-4 px-6">
                            <div class="course-name d-flex align-items-center">
                              <i class="bi bi-book accordion-item-icon"></i>
                              <p class="ms-3">課業作業</p>
                            </div>
                            <div class="time d-flex align-items-center">
                              <p class="ms-4 fs-8">00:10</p>
                            </div>
                          </a> 
                        </li>
                        </ul>
                    </div>
                </div>
                </div>
                <!-- unit18 -->
                <div class="accordion-item mb-4 rounded-2">
                    <h2 class="accordion-header" id="panelsStayOpen-headingEighteen"> 
                    <button class="accordion-button collapsed rounded" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEighteen" aria-expanded="true" aria-controls="panelsStayOpen-collapseEighteen">
                      <div class="w-100 d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center"> 
                          <p class="text-white bg-neutral-400 rounded-1 fs-8 fw-bold p-1 align-middle">18</p>
                          <p class="ms-2 fw-bold">網頁排版技巧 Part I（舊章節）</p>
                        </div>
                        <div class="d-flex align-items-center me-3 d-none d-lg-block">
                          <p class="fs-8 text-neutral-400">4個單元<span class="mx-2 circle"></span>少於1分鐘</p>
                        </div>
                      </div>
                    </button> 
                    </h2>
                    <div id="collapseEighteen" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingEighteen">
                    <div class="accordion-body px-0">
                        <ul class="list-unstyled">
                        <li> 
                          <a href="#" class="d-flex justify-content-between align-items-center py-4 px-6">
                            <div class="course-name d-flex align-items-center">
                              <i class="bi bi-camera-video accordion-item-icon"></i>
                              <p class="ms-3">課程說明</p>
                            </div>
                            <div class="time d-flex align-items-center">
                              <p class="try-it bg-primary text-white fs-9 py-1 px-2">試看單元</p>
                              <p class="ms-4 fs-8">00:10</p>
                            </div>
                          </a>
                        </li>
                        <li> 
                          <a href="#" class="d-flex justify-content-between py-4 px-6">
                            <div class="course-name d-flex align-items-center">
                              <i class="bi bi-camera-video accordion-item-icon"></i>
                              <p class="ms-3">課程最終任務說明</p>
                            </div>
                            <div class="time d-flex align-items-center">
                              <p class="ms-4 fs-8">00:10</p>
                            </div>
                          </a> 
                        </li>
                        <li> 
                            <a href="#" class="d-flex justify-content-between py-4 px-6">
                              <div class="course-name d-flex align-items-center">
                                <i class="bi bi-camera-video accordion-item-icon"></i>
                                <p class="ms-3">課程說明</p>
                              </div>
                              <div class="time d-flex align-items-center">
                                <p class="ms-4 fs-8">00:10</p>
                              </div>
                            </a> 
                          </li>
                          <li> 
                            <a href="#" class="d-flex justify-content-between py-4 px-6">
                              <div class="course-name d-flex">
                                <i class="bi bi-camera-video accordion-item-icon"></i>
                                <p class="ms-3">Hahow 學生如何在六角平台檢視問題</p>
                              </div>
                              <div class="time d-flex align-items-center">
                                <p class="ms-4 fs-8">00:10</p>
                              </div>
                            </a> 
                          </li>
                        <li> 
                          <a href="#" class="d-flex justify-content-between py-4 px-6">
                            <div class="course-name d-flex align-items-center">
                              <i class="bi bi-book accordion-item-icon"></i>
                              <p class="ms-3">課業作業</p>
                            </div>
                            <div class="time d-flex align-items-center">
                              <p class="ms-4 fs-8">00:10</p>
                            </div>
                          </a> 
                        </li>
                        </ul>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</section>  

<!-- 關於講師 -->
<section id="course-lecturer" class="container mb-9">
  <div class="d-flex mb-4 mb-lg-6 align-items-center">
    <img src="../assets/images/deco/flower-5.svg" alt="flower" class="flower-icon">
    <p class="fs-6 fs-lg-5 fw-bold ms-2">關於講師</p>
  </div>
  <div class="row">
    <div class="col-lg-8 col-12 bg-white rounded-3 me-lg-6 p-4 p-lg-7">
      <div class="d-flex mb-4 align-items-center">
        <img src="../assets/images/icons/ic_ hexschool-lg.svg" alt="hexschool-logo" class="hexschool-logo">
        <div class="ms-2 ms-lg-4">
          <h6 class="fs-7 fs-lg-6 fw-bold mb-2">六角學院</h6>
          <p class="fs-8 fs-lg-7 text-neutral-400">打破線上課程售後不理，我們在線上等你！帶你學到會的線上課程。</p>
        </div>
      </div>
      <ul class="d-flex ps-lg-4 ms-lg-11">
        <li class="breadcrumb-items fs-8 fs-lg-7 text-neutral-400">2 堂課程</li>
        <li class="breadcrumb-items fs-8 fs-lg-7 text-neutral-400">1,567 個學生</li>
        <li class="breadcrumb-items fs-8 fs-lg-7 text-neutral-400">1,034 則評論</li>
      </ul>
      <hr/>
      <p class="fs-8 fs-lg-7 text-neutral-400 mb-4">六角學院是一所線上程式開發學習單位，目前已累積 20,000 名學員，讓更多人藉由線上學習在職涯規劃上有更多的選擇是我們的使命是，如果您贊同我們的理念，歡迎加入六角。</p>
      <p class="fs-8 fs-lg-7 text-neutral-400 mb-6 mb-lg-8">我們將深入了解您想發展的領域，每位實習生我們都會量身打造專屬於您的舞台，並讓您實際瞭解公司營運 Know how。</p>
      <div class="text-end">
        <a href="#course-lecturer" class="link-primary fs-7 me-1">了解更多講師履歷<span><i class="bi bi-chevron-right text-primary"></i></span></a>
      </div>
    </div>
  </div>
</section>
<!-- 購課前問答 -->
<section id="course-qa">

</section>
<!-- pagination -->
<div class="container">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

<!-- TODO:建一個空的col-lg-8 -->
<!-- 購物車/電腦版 -->
<div class="col-lg-4 col-12 d-none d-lg-block">

</div>
<!-- 購物車/手機版 -->
<div class="col-12 d-lg-none d-block">

</div>










<script>
    document.querySelectorAll('.nav-link').forEach(link => {
    link.addEventListener('click', function() {
        document.querySelectorAll('.nav-link').forEach(item => item.classList.remove('nav-active'));
        this.classList.add('nav-active');
    });
});
</script>