<footer>
    <div class="container-fluid container-lg text-white px-6 py-9 py-lg-12">
        <div class="d-flex flex-column flex-lg-row align-items-lg-center justify-content-between mb-8 mb-lg-3">
            <a class="navbar-brand mb-8 mb-lg-0" href="./index.html">
                <img src="../assets/images/logo-white.png" alt="logo" class="footer-logo align-top">
            </a>
            <ul class="fs-8 d-flex flex-column flex-lg-row gap-6 gap-lg-7">
                <li>常見問題</li>
                <li>關於我們</li>
                <li>隱私權政策</li>
                <li>使用者條款</li>
            </ul>
        </div>
        <div class="d-flex flex-column flex-lg-row-reverse align-items-lg-center justify-content-between">
            <ul class="fs-8 d-flex flex-lg-row gap-3 mb-7">
                <li>
                    <a href="#">
                        <div class="soical-icon rounded-circle">
                            <i class="bi bi-line fs-6"></i>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="soical-icon rounded-circle">
                            <i class="bi bi-youtube fs-6"></i>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="soical-icon rounded-circle">
                            <i class="bi bi-facebook fs-6"></i>
                        </div>
                    </a>
                </li>
            </ul>
            <p class="fs-9">copyright © 2024 課程網站 All Rights Reserved.</p>
        </div>
    </div>
    </div>
</footer>