.card-avatar {
    height: 44px;
    width: 44px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.avatar-img {
    // width: 100%;
    // object-fit: cover;
    transform: scale(1.6) translateY(4px); 
}