.badge {
    line-height: 1.5;
    position: absolute;
    top: 16px;
    left: 16px;
    &-sm {
        font-weight: $font-weight-normal;
        padding: 4px 8px;
        top: 4px;
        left: 4px;
    }
    &-md {
        font-weight: $font-weight-normal;
        padding: 4px 12px;
        position: static;  // 取消絕對定位
    }
    &-primary {
        background: $primary-50;
        color: $primary;
    }
    &-alert {
        background: $danger-100;
        color: $danger;
    }
    &-gray {
        background: $neutral-200;
        color: $neutral-400;
    }
}