.dropdown-toggle {
  display: flex;
  align-items: center;
  &::after {
    content: "\F282";
    font-family: bootstrap-icons !important;
    border: none;
  }
}
.dropdown-item {
  &:not(.dropdown-item-all) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &::after {
      content: "\F285";
      font-family: bootstrap-icons !important;
    }
  }
}
.desktop-dropdown-menu {
  width: 100%;
  max-width: 863px;
  &[data-bs-popper] {
    left: 15%;
  }
  .dropdown-menu {
    &-level-one, &-level-two, &-level-three {
      height: calc(100vh - 200px);
      overflow-y: scroll;
    }
    &-level-one, &-level-two {
      padding: 12px 12px 4px;
      width: 26%;
    }
    &-level-three {
      padding: 12px 12px 4px;
      width: 48%;
    }
  }
}

.mobile-nav-dropdown-menu {
  height: calc(100vh - 62px);
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }

}

.tab-pane .tab-hover {
  border-radius: 12px;
  cursor: pointer;
  &:hover {
    background: $primary;
    color: $white;
    .material-symbols-outlined {
      color: $white !important;
    }
  }
}
.dropdown-menu-level-three {
  .dropdown-item {
    &:hover {
      background: $white;
      color: $dark;
    }
    .rounded-pill {
      width: 44px;
      height: 29px;
      top: 4px;
      left: 4px;
    }
  }
}
.nav-course-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.nav-course-card-title, .nav-course-card-price, .nav-course-card-assess { 
  width: 243px;
  text-wrap: wrap;
}

.nav-alert.dropdown-menu {
    left: -600%;
    width: 320px;
    &[data-bs-popper] {
      top: 135%;
      right: 50%;
      margin-top: 8px;
    }
    .dropdown-item {
      &:hover {
        background: $white;
        color: $dark;
        .brand-icon {
            .material-symbols-outlined {
              color: $info !important;
            }
        }
        .bell-icon {
          .material-symbols-outlined {
            color: $danger !important;
          }
        }
      }
    } 
    }
.alert-card-icon {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.alert-card-text {
  width: 232px;
  text-wrap: wrap;

}