//navbar
.navbar {
  @include media-breakpoint-up(lg) {
    border-radius: 100px;
    box-shadow: 0px 2px 40px rgba(0, 104, 255, 0.1);
    z-index: 999;
  }
}
.nav-logo {
  width: 100%;
  max-width: 125px;
  height: 20px;
  object-fit: cover;
  @include media-breakpoint-up(lg) {
    max-width: 200px;
    height: 32px;
  }
}
.navbar-toggler {
  border: none;
}
.navbar-toggler-icon {
  width: 24px;
  height: 24px;
}
.alerts-badge.badge {
  padding: 5px;
  top: 5px;
  left: 20px;
}
.cart-badge.badge {
  padding: 4px 6px 3px 6px;
  line-height: 1;
  font-size: 10px;
  top: 6px;
  left: 10px;
}

.search-input {
  @include media-breakpoint-up(lg) {
    width: 425px;
    height: 64px;
    padding-right: 8px;
  }
  &::placeholder {
    @include media-breakpoint-up(lg) {
      color: $neutral-300;
      // padding-right: 8px;
    }
  }
}

nav form {
  @include media-breakpoint-up(lg) {
    width: 425px;
    height: 64px;
  }
}

.nav-avatar {
  .dropdown-toggle::after {
    content: "";
  }
.dropdown-menu {
  left: -55%;
  width: 237px;
  &[data-bs-popper] {
    top: 160%;
    right: 50%;
    margin-top: 8px;
  }
  @include media-breakpoint-up(lg) {
    z-index: 999;
  }
}  
.dropdown-item{
  &:not(.dropdown-item-all) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &::after {
      content: "";
      font-family: "Material Symbols Outlined";
    }
  }
}
}
.dropdown-item.del-icon{
  &:not(.dropdown-item-all) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &::after {
      content: "";
      font-family: "Material Symbols Outlined";
    }
  }
}

.offcanvas-header {
  display: block;
  padding: 12px;
}
.nav-tabs {
  .nav-item {
    width: 50%;
  }
  .nav-link {
    border: none;
    margin-bottom: 0;
    width: 100%;
    color: $neutral-300;
   
  }
  .nav-link.active {
    color: $primary;
    font-weight: bold;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 32px;
      height: 4px;
      background: $primary;
      border-radius: 10px;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.fs-0 {
  font-size: 0;
}
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 499; /* 中等 z-index */
}
//dropdown
.dropdown-toggle {
  display: flex;
  align-items: center;
  &::after {
    content: "\e69b";
    font-family: "Material Symbols Outlined";
    border: none;
  }
}
.dropdown-item {
  border-radius: 12px;
  &:not(.dropdown-item-all) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &::after {
      content: "\e5cc";
      font-family: "Material Symbols Outlined";
    }
  }
  &:hover {
    background: $primary;
    color: $white;
    .material-symbols-outlined {
      color: $white !important;
    }
  }
}
.desktop-dropdown-menu {
  width: 100%;
  max-width: 863px;
  &[data-bs-popper] {
    left: 15%;
    margin-top: 8px;
  }
  .dropdown-menu {
    &-level-one, &-level-two, &-level-three {
      height: calc(100vh - 200px);
      overflow-y: scroll;
      // &::-webkit-scrollbar {
      //   display: none;
      // }
    }
    &-level-one, &-level-two {
      padding: 12px 12px 4px;
      width: 26%;
    }
    &-level-three {
      padding: 12px 12px 4px;
      width: 48%;
    }
    @include media-breakpoint-up(lg) {
      z-index: 999;
    }
  }
}

.mobile-nav-dropdown-menu {
  height: calc(100vh - 62px);
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
}

.tab-pane .tab-hover {
  border-radius: 12px;
  cursor: pointer;
  &:hover {
    background: $primary;
    color: $white;
    .material-symbols-outlined {
      color: $white !important;
    }
  }
}
.dropdown-menu-level-three {
  .dropdown-item {
    &:hover {
      background: $white;
      color: $dark;
    }
    .rounded-pill {
      width: 44px;
      height: 29px;
      top: 4px;
      left: 4px;
    }
  }
}
.nav-course-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.nav-course-card-title, .nav-course-card-price, .nav-course-card-assess { 
  width: 243px;
  text-wrap: wrap;
}

.nav-alert.dropdown-menu {
    left: -600%;
    width: 320px;
    &[data-bs-popper] {
      top: 135%;
      right: 50%;
      margin-top: 8px;
    }
    .dropdown-item {
      &:hover {
        background: $white;
        color: $dark;
        .brand-icon {
            .material-symbols-outlined {
              color: $info !important;
            }
        }
        .bell-icon {
          .material-symbols-outlined {
            color: $danger !important;
          }
        }
      }
    } 
    }
.alert-card-icon {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.alert-card-text {
  width: 232px;
  text-wrap: wrap;
}

// .dropdown-backdrop {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background-color: rgba(0, 0, 0, 0.5);
//   z-index: 1040; /* Bootstrap dropdown z-index is 1000 */
//   display: none;
// }