// 背景底色
body {
    background-color: $neutral-100;
}

// banner 背景漸層色
.bg-gradient {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1) 60%, rgba(231, 245, 255, 1) 100%);
        z-index: -1;

        @media (min-width: 768px) {
            bottom: -160px;
            height: 100vh;
            border-radius: 0 0 240px 240px;
        }

    }

}

//intro-banner
.intro-bg {
    height: 419px;
    background: url("../assets/images/hero-4.png") repeat #CCE9FF 70% 100% / cover;
}

.intro-badge {
    color: $primary;
    background-color: $primary-50;
    border-radius: 100px;
    padding: 8px 12px;
    font-weight: 600;
}

.rwd-btn {
    width: 100%;

    @media (min-width: 768px) {
        width: auto;
    }
}

// banner-foot
.card {
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.12);
}

.intro-border {
    border-right: none;

    @media (min-width: 768px) {
        border-right: 1px solid $neutral-200;
    }
}

// Nav & Tabs
.nav-link {
    color: $neutral-400;

    &:hover {
        font-weight: bold;
    }
}

.nav-link.nav-active {
    font-weight: bold;
    color: $primary;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 16px;
        width: 32px;
        height: 4px;
        border-radius: 10px;
        background-color: $primary;
    }
}

// course-intro
.border-left {
    position: relative;
    text-align: justify;

    &::after {
        content: "";
        position: absolute;
        top: 4px;
        left: 0;
        width: 4px;
        height: 40px;
        border-radius: 10px;
        background-color: $primary;

        @media (min-width: 768px) {
            height: 16px;

        }
    }
}

.mask-viewmore {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 1) 100%);
    }
}

.radius-rwd {
    border-radius: 0;

    @media (min-width: 768px) {
        border-radius: 20px;
    }
}

.flower-icon {
    width: 16px;
    height: 16px;
    vertical-align: middle;

    @media (min-width: 768px) {
        width: 24px;
        height: 24px;
    }
}

//accordion

.accordion-icon {
    color: $neutral-400;
    font-size: 24px;
}

.accordion-item {
    // border-radius: 8px;
    margin-bottom: 16px;

    .accordion-button {
        border-radius: 8px 8px 0 0 !important;

        &.collapsed {
            border-radius: 8px !important;
        }
    }

    & a:hover {
        background-color: $neutral-200;
    }

    &-icon {
        font-size: 24px;
    }
}

.accordion-item:last-child {
    margin-bottom: 0;
}

.accordion-button {
    background-color: $neutral-200;

    &:not(.collapsed) {
        background-color: $neutral-200;
        color: #000000;
    }
}

.accordion-button::after {
    color: $neutral-400;
}

.try-it {
    border-radius: 8px;
}

.circle {
    width: 6px;
    height: 6px;
    background-color: $neutral-300;
    border-radius: 50%;
    display: inline-block;
}

.breadcrumb-items:not(:last-child)::after {
    content: "|";
    margin: 0 12px;
    color: $neutral-200;

    @media (min-width: 768px) {
        margin: 0 16px;
    }
}

hr {
    border-color: $neutral-200;
    margin: 24px 0;

    @media (min-width: 768px) {
        margin: 40px 0;
    }
}

.hexschool-logo {
    @media (min-width: 768px) {
        width: 80px;
        height: 80px;
    }
}