.intro-bg {
    height: 419px;
    background: url("../../../assets/images/hero-4.png") no-repeat #CCE9FF 100% 100% / 100%;
}

.intro-badge {
    color: $primary;
    background-color: $primary-50;
    border-radius: 100px;
    padding: 8px 12px;
    font-weight: 600;
}