<!DOCTYPE html>
<html lang="zh-hant">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <title>index</title>
</head>

<body>
  <header>
    <%- include('./layout/header'); -%>

      <section class="banner nav-mt">
        <div class="swiper bannerSwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide swiper-slide-hero-1 position-relative">
              <div
                class="banner-course d-flex rounded-pill align-items-center justify-content-between py-2 py-lg-6 ps-2 ps-lg-4 pe-6 pe-lg-7 m-4 m-lg-8 bg-white">
                <div class="banner-tag px-3 py-2 rounded-pill bg-primary-100  d-flex align-items-center me-2">
                  <p class="text-primary fs-8 me-1 text-nowrap fw-bold">熱銷課程</p>
                  <div class="banner-tag-icon">
                    <img src="../assets/images/icons/ic_fire.png" alt="icon">
                  </div>
                </div>
                <p class="fs-8 fs-lg-6 fw-bold">給成人的鋼琴入門課，一小時教你彈奏上手！</p>
              </div>
              <button class="banner-btn btn btn-primary fs-8 fs-lg-2 fw-bold" type="button">
                探索感興趣的課程，今天立即上課<i class="bi bi-arrow-right fs-7 fs-lg-2 ms-4"></i>
              </button>
            </div>
            <div class="swiper-slide swiper-slide-hero-2 position-relative">
              <div
                class="banner-course d-flex rounded-pill align-items-center justify-content-between py-2 py-lg-6 ps-2 ps-lg-4 pe-6 pe-lg-7 m-4 m-lg-8 bg-white">
                <div class="banner-tag px-3 py-2 rounded-pill bg-primary-100  d-flex align-items-center me-2">
                  <p class="text-primary fs-8 me-1 text-nowrap fw-bold">熱銷課程</p>
                  <div class="banner-tag-icon">
                    <img src="../assets/images/icons/ic_fire.png" alt="icon">
                  </div>
                </div>
                <p class="fs-8 fs-lg-6 fw-bold">給成人的鋼琴入門課，一小時教你彈奏上手！</p>
              </div>
              <button class="banner-btn btn btn-primary fs-8 fs-lg-2 fw-bold" type="button">
                探索感興趣的課程，今天立即上課<i class="bi bi-arrow-right fs-7 fs-lg-2 ms-4"></i>
              </button>
            </div>
            <div class="swiper-slide swiper-slide-hero-3 position-relative">
              <div
                class="banner-course d-flex rounded-pill align-items-center justify-content-between py-2 py-lg-6 ps-2 ps-lg-4 pe-6 pe-lg-7 m-4 m-lg-8 bg-white">
                <div class="banner-tag px-3 py-2 rounded-pill bg-primary-100  d-flex align-items-center me-2">
                  <p class="text-primary fs-8 me-1 text-nowrap fw-bold">熱銷課程</p>
                  <div class="banner-tag-icon">
                    <img src="../assets/images/icons/ic_fire.png" alt="icon">
                  </div>
                </div>
                <p class="fs-8 fs-lg-6 fw-bold">給成人的鋼琴入門課，一小時教你彈奏上手！</p>
              </div>
              <button class="banner-btn btn btn-primary fs-8 fs-lg-2 fw-bold" type="button">
                探索感興趣的課程，今天立即上課<i class="bi bi-arrow-right fs-7 fs-lg-2 ms-4"></i>
              </button>
            </div>
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-pagination swiper-pagination-banner"></div>
        </div>
        </div>
      </section>
  </header>
  <main>
    <section class="course container my-8 my-lg-13 px-0 px-md-3">
      <div
        class="row d-flex flex-column flex-xl-row-reverse align-items-xl-center rounded-4 bg-primary py-11 px-4 px-xxl-9 mx-3 mx-md-0">
        <div class="col-xl-5">
          <div class="ps-xl-10 title mb-8 mb-lg-8 py-11">
            <h2 class="main-title fs-1 fw-bold mb-2 text-white"><span class="text-deco">想學什麼嗎？一探究竟。</span></h2>
          </div>
        </div>
        <div class="col-xl-7">
          <div class="course-card-list container">
            <div class="row course-card-group">
              <div class="col-xl-6 course-card-item d-flex align-items-center bg-white p-4 rounded-3">
                <div class="flex-shrink-0 course-card bg-orange-icon p-4">
                  <img src="../assets/images/icons/megaphoneSimple.png" alt="icon">
                </div>
                <div class="flex-grow-1 ms-5">
                  <div class="fw-bold mb-2">網路行銷</div>
                  <div class="fs-8 classNum">342 門課程</div>
                </div>
              </div>
              <div class="col-xl-6 course-card-item d-flex align-items-center bg-white p-4 rounded-3">
                <div class="flex-shrink-0 course-card bg-gary-icon p-4">
                  <img src="../assets/images/icons/camera.png" alt="icon">
                </div>
                <div class="flex-grow-1 ms-5">
                  <div class="fw-bold mb-2">拍攝剪輯</div>
                  <div class="fs-8 classNum">563 門課程</div>
                </div>
              </div>
              <div class="col-xl-6 course-card-item d-flex align-items-center bg-white p-4 rounded-3">
                <div class="flex-shrink-0 course-card bg-pink-icon p-4">
                  <img src="../assets/images/icons/chartBarHorizontal.png" alt="icon">
                </div>
                <div class="flex-grow-1 ms-5">
                  <div class="fw-bold mb-2">自我成長</div>
                  <div class="fs-8 classNum">490 門課程</div>
                </div>
              </div>
              <div class="col-xl-6 course-card-item d-flex align-items-center bg-white p-4 rounded-3">
                <div class="flex-shrink-0 course-card bg-purple-icon p-4">
                  <img src="../assets/images/icons/penNib.png" alt="icon">
                </div>
                <div class="flex-grow-1 ms-5">
                  <div class="fw-bold mb-2">藝術設計</div>
                  <div class="fs-8 classNum">230 門課程</div>
                </div>
              </div>
            </div>
            <div class="row course-card-group">
              <div class="col-xl-6 course-card-item d-flex align-items-center bg-white p-4 rounded-3">
                <div class="flex-shrink-0 course-card bg-blue-icon p-4">
                  <img src="../assets/images/icons/bugDroid.png" alt="icon">
                </div>
                <div class="flex-grow-1 ms-5">
                  <div class="fw-bold mb-2">數據分析</div>
                  <div class="fs-8 classNum">395 門課程</div>
                </div>
              </div>
              <div class="col-xl-6 course-card-item d-flex align-items-center bg-white p-4 rounded-3">
                <div class="flex-shrink-0 course-card bg-green-icon p-4">
                  <img src="../assets/images/icons/creditCard.png" alt="icon">
                </div>
                <div class="flex-grow-1 ms-5">
                  <div class="fw-bold mb-2">投資理財</div>
                  <div class="fs-8 classNum">486 門課程</div>
                </div>
              </div>
              <div class="col-xl-6 course-card-item d-flex align-items-center bg-white p-4 rounded-3">
                <div class="flex-shrink-0 course-card bg-lightPurple-icon p-4">
                  <img src="../assets/images/icons/headphones.png" alt="icon">
                </div>
                <div class="flex-grow-1 ms-5">
                  <div class="fw-bold mb-2">音樂創作</div>
                  <div class="fs-8 classNum">283 門課程</div>
                </div>
              </div>
              <div class="col-xl-6 course-card-item d-flex align-items-center bg-white p-4 rounded-3">
                <div class="flex-shrink-0 course-card bg-primary p-5">
                  <img src="../assets/images/icons/arrow.png" alt="icon">
                </div>
                <div class="flex-grow-1 ms-5">
                  <div class="fw-bold mb-2">探索更多</div>
                </div>
              </div>
            </div>
            <div>
            </div>
          </div>
        </div>
    </section>
    <section class="teacher container-fluid pt-11 pt-lg-13 px-0">
      <span class="d-none d-lg-block bg-deco"></span>
      <div class="container">
        <!-- 標題裝飾 -->
        <div class="title text-md-center mb-6 mb-lg-8">
          <h2 class="main-title mb-4 fs-1 fw-bold mb-2"><span class="text-deco">頂尖講師帶你飛</span></h2>
          <h3 class="subtitle fs-6 fs-lg-7">超真實學員評價，這些講師你絕對不能錯過！</h3>
        </div>
        <div class="swiper teacherSwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="card border-0">
                <img src="../assets/images/teacher-3.png" class="card-img-top ms-10 ms-lg-11 object-fit-cover"
                  alt="teacher-1">
                <div class="card-body shadow p-6">
                  <h5 class="card-title fs-6 mb-6">Mr. Robert</h5>
                  <div class="card-contemn mb-6">
                    <div class="card-tag d-flex mb-2">
                      <div class="px-3 py-2 text-neutral-400 rounded-pill bg-neutral-200 me-2 fw-bold fs-8">音樂創作
                      </div>
                      <div class="d-flex align-items-center">
                        <img src="../assets/images/icons/ic_star.png" alt="icon" width="12" height="12" class="me-1">
                        <span class="text-black fs-8 me-1">4.0</span>
                        <span class="text-neutral-300 fs-8">(333)</span>
                      </div>
                    </div>
                    <p class="card-text fs-8 fs-lg-7">Robert 的線上課程深受學生喜愛。
                      他的教學方法生動有趣，能夠深入淺出地講解複雜的音樂理論，並結合實際演奏技巧，使學生能夠快速進步。</p>
                  </div>
                  <a href="#" class="card-btn btn btn-primary w-100">探索 Mr. Robert 的教學課程</a>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card border-0">
                <img src="../assets/images/teacher-1.png" class="card-img-top ms-10 ms-lg-11 object-fit-cover"
                  alt="teacher-2">
                <div class="card-body shadow p-6">
                  <h5 class="card-title fs-6 mb-6">Kelly Beck</h5>
                  <div class="card-content mb-6">
                    <div class="card-tag d-flex mb-2">
                      <div class="px-3 py-2 text-neutral-400 rounded-pill bg-neutral-200 me-2 fw-bold fs-8">英文寫作
                      </div>
                      <div class="d-flex align-items-center">
                        <img src="../assets/images/icons/ic_star.png" alt="icon" width="12" height="12" class="me-1">
                        <span class="text-black fs-8 me-1">4.8</span>
                        <span class="text-neutral-300 fs-8">(281)</span>
                      </div>
                    </div>
                    <p class="card-text fs-8 fs-lg-7">Kelly 的教學方式靈活且富有創意， 能夠有效提升學生的寫作技巧和自信心。Kelly
                      注重實用性，針對學生的需求量身打造教學內容，並提供具體的反饋和建議。</p>
                  </div>
                  <a href="#" class="card-btn btn btn-primary w-100">探索 Kelly Beck 的教學課程</a>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card border-0">
                <img src="../assets/images/teacher-2.png" class="card-img-top ms-10 ms-lg-11 object-fit-cover"
                  alt="teacher-3">
                <div class="card-body shadow p-6">
                  <h5 class="card-title fs-6 mb-6">K. Lee</h5>
                  <div class="card-content mb-6">
                    <div class="card-tag d-flex mb-2">
                      <div class="px-3 py-2 text-neutral-400 rounded-pill bg-neutral-200 me-2 fw-bold fs-8">音樂創作
                      </div>
                      <div class="d-flex align-items-center">
                        <img src="../assets/images/icons/ic_star.png" alt="icon" width="12" height="12" class="me-1">
                        <span class="text-black fs-8 me-1">4.8</span>
                        <span class="text-neutral-300 fs-8">(1,245)</span>
                      </div>
                    </div>
                    <p class="card-text fs-8 fs-lg-7">K. Lee 的教學風格親切且耐心，能夠循序漸進地引導學生進入樂團的世界。學生們紛紛表示，K. Lee
                      的課程讓他們對音樂產生了濃厚的興趣！</p>
                  </div>
                  <a href="#" class="card-btn btn btn-primary w-100">探索 K. Lee 的教學課程</a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-pagination swiper-pagination-teacher"></div>
        </div>
      </div>
    </section>
  </main>
  <hr>
  </span>
  <!-- 表單元素 -->
  <div class="container pt-56 pay">
    <div class="form-check py-3">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
      <label class="form-check-label" for="flexRadioDefault1">
        Default radio
      </label>
      <div class="alert alert-primary" role="alert">
        A simple primary alert—check it out!
      </div>
    </div>
    <div class="form-check py-3">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
      <label class="form-check-label" for="flexRadioDefault2">
        Default radio
      </label>
      <div class="alert alert-primary" role="alert">
        A simple primary alert—check it out!
      </div>
    </div>
    <div class="form-check py-3">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
      <label class="form-check-label" for="flexRadioDefault3">
        Default radio
      </label>
      <div class="alert alert-primary" role="alert">
        A simple primary alert—check it out!
      </div>
    </div>
    <!-- 展開明細 手機板-->
    <section class="bill">
      <!-- Button trigger modal -->
      <a class="text-decoration-none text-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">
        展開明細<i class="bi bi-chevron-up"></i>
      </a>
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              ...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <section class="container py-5">
    <ul class="nav nav-pills mb-3 position-sticky bg-white" id="pills-tab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home"
          type="button" role="tab" aria-controls="pills-home" aria-selected="true">
          Home
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile"
          type="button" role="tab" aria-controls="pills-profile" aria-selected="false">
          Profile
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact"
          type="button" role="tab" aria-controls="pills-contact" aria-selected="false">
          Contact
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-disabled-tab" data-bs-toggle="pill" data-bs-target="#pills-disabled"
          type="button" role="tab" aria-controls="pills-disabled" aria-selected="false" disabled>
          Disabled
        </button>
      </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab"
        tabindex="0">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos, hic? Ab, vero est minima consequuntur,
        suscipit non eligendi explicabo aliquam ut deleniti tenetur sapiente eos assumenda fugiat molestias minus
        illo?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos, hic? Ab, vero est minima consequuntur,
        suscipit non eligendi explicabo aliquam ut deleniti tenetur sapiente eos assumenda fugiat molestias minus
        illo?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos, hic? Ab, vero est minima consequuntur,
        suscipit non eligendi explicabo aliquam ut deleniti tenetur sapiente eos assumenda fugiat molestias minus
        illo?
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos, hic? Ab, vero est minima consequuntur,
        suscipit non eligendi explicabo aliquam ut deleniti tenetur sapiente eos assumenda fugiat molestias minus
        illo?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos, hic? Ab, vero est minima consequuntur,
        suscipit non eligendi explicabo aliquam ut deleniti tenetur sapiente eos assumenda fugiat molestias minus
        illo?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos, hic? Ab, vero est minima consequuntur,
        suscipit non eligendi explicabo aliquam ut deleniti tenetur sapiente eos assumenda fugiat molestias minus
        illo?
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos, hic? Ab, vero est minima consequuntur,
        suscipit non eligendi explicabo aliquam ut deleniti tenetur sapiente eos assumenda fugiat molestias minus
        illo?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos, hic? Ab, vero est minima consequuntur,
        suscipit non eligendi explicabo aliquam ut deleniti tenetur sapiente eos assumenda fugiat molestias minus
        illo?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos, hic? Ab, vero est minima consequuntur,
        suscipit non eligendi explicabo aliquam ut deleniti tenetur sapiente eos assumenda fugiat molestias minus
        illo?
      </div>
      <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
        ...
      </div>
      <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab" tabindex="0">
        ...
      </div>
      <div class="tab-pane fade" id="pills-disabled" role="tabpanel" aria-labelledby="pills-disabled-tab" tabindex="0">
        ...
      </div>
    </div>
  </section>

  <section class="container py-5 result">
    <!-- 背景模糊 -->
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal2">
      背景模糊
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
    <button class="btn btn-primary">Button</button>
    <button class="btn btn-sm btn-primary">Button</button>
    <button class="btn btn-sm btn-primary-dark">Button</button>
    <button class="btn" disabled>Button</button>
    <button class="btn btn-sm" disabled>Button</button>
    <button class="btn btn-outline-primary">Button</button>
    <button class="btn btn-sm btn-outline-primary">Button</button>
    <button class="btn btn-sm btn-primary rounded-1">4px</button>
    <button class="btn btn-sm btn-primary rounded-2">12px</button>
    <button class="btn btn-sm btn-primary rounded-3">20px</button>
    <button class="btn btn-sm btn-primary rounded-4">40px</button>
    <button class="btn btn-sm btn-primary rounded-5">80px</button>
    <div class="card rounded-5 overflow-hidden">
      <img src="../assets/images/teacher-2.png" class="card-img-top ms-6 object-fit-cover" alt="teacher-3">
      <div class="card-body h-100 shadow p-6">
        <h5 class="card-title fs-6 mb-6">K. Lee</h5>
        <div class="d-flex mb-2">
          <div class="px-3 py-2 text-neutral-400 rounded-pill bg-neutral-200 me-2 fw-bold">音樂創作
          </div>
          <div class="d-flex align-items-center">
            <img src="../assets/images/icons/ic_star.png" alt="icon" width="12" height="12" class="me-1">
            <span class="text-black fs-8 me-1">4.8</span>
            <span class="text-neutral-300 fs-8">(1,245)</span>
          </div>
        </div>
        <p class="card-text fs-8 fs-lg-7 mb-6">K. Lee 的教學風格親切且耐心，能夠循序漸進地引導學生進入樂團的世界。學生們紛紛表示，K. Lee 的課程讓他們對音樂產生了濃厚的興趣！
        </p>
        <a href="#" class="btn btn-primary w-100">探索 K. Lee 的教學課程</a>
      </div>
    </div>
    <div class="card rounded-pill overflow-hidden">
      <img src="../assets/images/teacher-2.png" class="card-img-top ms-6 object-fit-cover" alt="teacher-3">
      <div class="card-body h-100 shadow p-6">
        <h5 class="card-title fs-6 mb-6">K. Lee</h5>
        <div class="d-flex mb-2">
          <div class="px-3 py-2 text-neutral-400 rounded-pill bg-neutral-200 me-2 fw-bold">音樂創作
          </div>
          <div class="d-flex align-items-center">
            <img src="../assets/images/icons/ic_star.png" alt="icon" width="12" height="12" class="me-1">
            <span class="text-black fs-8 me-1">4.8</span>
            <span class="text-neutral-300 fs-8">(1,245)</span>
          </div>
        </div>
        <p class="card-text fs-8 fs-lg-7 mb-6">K. Lee 的教學風格親切且耐心，能夠循序漸進地引導學生進入樂團的世界。學生們紛紛表示，K. Lee 的課程讓他們對音樂產生了濃厚的興趣！
        </p>
        <a href="#" class="btn btn-primary w-100">探索 K. Lee 的教學課程</a>
      </div>
    </div>
  </section>
  <%- include('./layout/footer'); -%>
    <script>
      const bannerSwiper = new Swiper(".bannerSwiper", {
        cssMode: true,
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
        pagination: {
          el: ".swiper-pagination-banner",
        },
        mousewheel: true,
        keyboard: true,
        breakpoints: {
          992: {
            centeredSlides: true,
            slidesPerView: 1.2, // 顯示部分的第一和第三張圖片
            spaceBetween: 40, // 根據需要調整圖片之間的間距
            effect: "creative",
            creativeEffect: {
              prev: {
                // Array with translate X, Y and Z values
                translate: ["-100%", 0, 0],
                // Array with rotate X, Y and Z values (in deg)
                rotate: 0,
                // Slide opacity
                opacity: 0.5,
                // Slide scale
                scale: 1,
                // Enables slide shadow
                shadow: 0,
                // Transform origin, e.g. `left bottom`
                origin: 0,
              },
              next: {
                 // Array with translate X, Y and Z values
                 translate: ["-100%", 0, 0],
                // Array with rotate X, Y and Z values (in deg)
                rotate: 0,
                // Slide opacity
                opacity: 0.5,
                // Slide scale
                scale: 1,
                // Enables slide shadow
                shadow: 0,
                // Transform origin, e.g. `left bottom`
                origin: 0,
              },
            },
          },
        }
      });

      const teacherSwiper = new Swiper(".teacherSwiper", {
        // 一次呈現幾張
        slidesPerView: 1,
        spaceBetween: 24,
        // 分頁
        // navigation: {
        //   nextEl: ".swiper-next",
        //   prevEl: ".swiper-prev",
        // },
        pagination: {
          // pagination
          el: ".swiper-pagination-teacher",
          clickable: true
        },
        breakpoints: {
          992: {
            slidesPerView: 2,
          },
          1400: {
            slidesPerView: 3,
          }
        },
      });

    </script>
    <script type="module" src="../main.js"></script>
</body>

</html>